body,
html {
  margin: 0;
  padding: 0;
}

.container {
  width: 970px;
  height: 250px;
  background: url(background.png) no-repeat;
  cursor: pointer;
}

#arrow-left {
  position: absolute;
  top: 118px;
  left: 231px;
  cursor: pointer;
}

#arrow-right {
  position: absolute;
  top: 118px;
  left: 726px;
  cursor: pointer;
}

.slides {
  position: absolute;
  display: none;
  top: 10px;
  left: 260px;
  cursor: pointer;
}
